
<style>
  .bg-img{
  
  background-image: url("../assets/background_img.jpg");
  
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}
.menu_list li a:hover::before{
  background: url("../assets/icon.png") no-repeat;
}
  </style>
  <div class="bg-img"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <div class="header">
  <ul class="menu_list">
    <li><a>Home</a></li>
    <li><a>About</a></li>
    <li><a routerLink="/orders">Order</a></li>
    </ul>
      </div>
    </div>
  </div>
 <div class="row">
   <p class="content-1">Order Your Pizza In <span>Online</span></p>
   <p class="content-2"><span>Call Us</span> 99999 99999</p>
   </div>
  </div>




